/* Text */

.text-center{
    text-align: center;
}

.heading-big{
    font-size: 1.75rem;
}

/* Colours */

.bg-dark-blue{
    background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
    }

.btn{
    margin-top: 1.25rem;
    background: #336ea2;
    padding: 0.8rem 3rem;
    border-radius: 5px;
    }

    /* 
    Forms
    */

    .form-group{
        padding: 0.25 0; 
    }
    .form-group label {
        display: block;
    }
    .form-control{
        width: 100%;
        padding: 0.4rem;
        font-size: 1rem;
        resize: none;
        border-radius: 5px;
    }